@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
body {
    background:linear-gradient(rgb(24,40,4),rgb(94,94,27));
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}
html, body {
    border-color: #736b5e;
    color: #e8e6e3;
    
}
.top-section {
margin-bottom: 140px;
color: white;

}
.intro {
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-image: url("images/trheim.jpeg");
    height: 560px;
    background-size: cover;
}

.topThree{
    text-align: center;
    font-size: 35px;
}
.intro-txt {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.intro-txt h1 {
/* margin: 0 38px 470px 460px; */
-webkit-text-stroke: 3px black;
color: rgb(255, 255, 255);
font-size: 45px;
/* margin-top: 220px; */
}
.intro-txt h2 {
    -webkit-text-stroke: 3px black;
margin: 0 auto -20px;
font-size: 45px;

}
.attr{
    display: flex;
    flex-wrap: no-wrap;
    margin: 20px auto;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}
.attr h3 {
    font-size: 25px;
    word-spacing: 1px;
}
.attr p {
    font-style: italic;
    font-size: 20px;
}
.attr img{
    border-radius: 50px;
    height: 150px;
    width: 150px;
}
.show p{
    margin: 0 40px;
}
.guide-section {
    text-align: center;
    border: 1px solid rgb(196, 205, 161);
    border-radius: 10px;
    box-shadow: 20px 20px 50px 10px rgb(146, 173, 70) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    color: white;
}
.guide-section img {
    height: 390px;
    width: 250px;
}
.guide-section img {
    border-radius: 50%;
}
.guide-section p{
font-size: 17px;
}
#name {
    font-size: 20px;
    font-weight: 600;
}
